#gameCanvas {
display: block;
position: absolute;
margin: auto;
top: 0;
bottom: 0;
left: 0;
right: 0;
border-radius: 3.5%;
width: 800px;
height: 450px;

}

.buttonsPos{

    margin-left: 32%;

}


.button {
     background-color:#008000 ;
     cursor:pointer;
     font-family:'Press Start 2P';
     font-size:15px;
     padding:1.5% 3.0%;
     color: black;
     margin-top: 52%;
     outline: none;
}


.button:hover {
    background-color:#5cbf2a ;
}
h1{
 text-align: center;
 font-family:'Press Start 2P';
 color: #008000 ;
}
h3{
 text-align: center;
 font-family:'Press Start 2P';
 color: #008000 ;
}
p{
 text-align: center;
 font-family:'Press Start 2P';
 color: #008000 ;
}
body {
    background-image: url(images/brules.jpg);
    background-position: sticky;
    background-size: 15%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;


}
