#player1 {
    position:absolute;
    left:40%;
    top:0px;
    width:250px;
    height:15px;
    background-color:black;


}

#ball {
    position: absolute;
    height:50px;
    width: 50px;
    background-color: #f40ce5 ;
    top: 400px;
    left: 50%;
    border-radius: 50%;

}

#player2 {
    position:absolute;
    right:40%;
    bottom: 0px;
    width:250px;
    height:15px;
    background-color:black;
}
